#root {
    margin: 0 auto;
}

.airplane img {
    height: 90px;
    width: 120px;
    object-fit: contain;
}

.cloud img {
    width: 220px;
    object-fit: contain;
}

.bird img {
    width: 80px;
    object-fit: contain;
}
